/* @media (max-width: 525px) {
    .homePage .productos{

        height: 550px;
        box-sizing: border-box;
    }

    .productos .product{
        width: 48%;

    }
}

@media (min-width: 526px) {
    .homePage .productos{

        height: 320px;
        box-sizing: border-box;
    }

    .productos .product{
        width: 24%;

    }
}

@media (min-width: 1200px) {
    .container{
        margin: 0 auto;
    }
    .homePage .productos{

        height: 320px;
        box-sizing: border-box;
    }

    .productos .product{
        width: 24%;

    }
} */


@media (min-width: 380px){

    .productos .product{
        width: 48%;
    }
}


@media (min-width: 500px){

    .productos .product{
        width: 32%;
    }
}

@media (min-width: 750px){

    .productos .product{
        width: 24%;
    }

    

}

@media (min-width: 950px){

    .productos .product{
        width: 19%;
    }
}

@media (min-width: 380px){

    .container{
        margin: 10px auto;
    }
}